{% extends 'base.html.twig' %}

{% block title %}Security{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('security') }}
{% endblock %}

{% block body %}
    <div class="login-page-container">
        <div class="login-container">
            {% block content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}
