{% extends 'admin/index.html.twig' %}

{% block title %}Wypożyczenia{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block content %}
    <div class="tab-content" id="nav-tabContent">
        <h2>Wypożyczenia</h2>

    </div>
{% endblock %}