{% extends 'homepage/index.html.twig' %}

{% block title %}Wyniki wyszukiwania{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="content-bar">
        <h1>Wyniki wyszukiwania</h1>
        <div class="container-horizontal">
            <div class="book-vertical">
                <img class="book-img" src="{{ asset('images/book2.jpg') }}" alt="">
                <div class="book-data">
                    <h5><a href="#">O chłopcu, który był kotem</a></h5>
                    <h6>Paul Gallier</h6>
                    <h4>Wydawnictwo</h4>
                    <h4>Dostępność</h4>
                    <button class="btn btn-secondary">Zamów</button>
                </div>
            </div>
            <div class="book-vertical">
                <img class="book-img" src="{{ asset('images/book2.jpg') }}" alt="">
                <div class="book-data">
                    <h5><a href="#">O chłopcu, który był kotem</a></h5>
                    <h6>Paul Gallier</h6>
                    <h4>Wydawnictwo</h4>
                    <h4>Dostępność</h4>
                    <button class="btn btn-secondary">Zamów</button>
                </div>
            </div>
            <div class="book-vertical">
                <img class="book-img" src="{{ asset('images/book2.jpg') }}" alt="">
                <div class="book-data">
                    <h5><a href="#">O chłopcu, który był kotem</a></h5>
                    <h6>Paul Gallier</h6>
                    <h4>Wydawnictwo</h4>
                    <h4>Dostępność</h4>
                    <button class="btn btn-secondary">Zamów</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
